.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

#WRSiteLogo {
  width: 45%;

}


h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 130%;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 140%;
  font-weight: 500;
}

h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

a {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}

img {
  display: inline-block;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px 10px 40px;
  border-left: 3px solid #000;
  font-size: 18px;
  line-height: 160%;
}

figure {
  margin-bottom: 10px;
}

figcaption {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

.body {
  background-color: #fff;
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 160%;
}

.main-container {
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
}

.brand {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.nav-link {
  margin-right: 2.5vw;
  padding: 10px 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-link.w--current {
  color: #000;
}

.nav-link.w--current:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navbar {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: transparent;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.filled {
  background-color: #0f0e17;
  color: #fff;
}

.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.no-top-padding {
  padding-top: 0px;
}

.big-text {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 80px;
  line-height: 125%;
  font-weight: 500;
}

.big-text.less-bottom-padding {
  margin-bottom: 20px;
}

.grid-halves {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-halves.center-vertical {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  line-height: 150%;
}

.link {
  display: inline-block;
  margin-top: 20px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  font-weight: 600;
}

.link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.link.light {
  color: #fff;
}

.link.top-padding {
  margin-top: 60px;
}

.project-thumbnail {
  width: 100%;
}

.project-thumbnail-title {
  margin-top: 30px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 60px;
  color: #c7c7c7;
  font-weight: 500;
}

.client-grid {
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 150px;
  grid-row-gap: 150px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-link {
  display: block;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.footer-link.w--current {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.field-label {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
}

.text-field {
  min-height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
}

.text-field:focus {
  border: 1px solid #000;
}

.text-field.no-top-padding {
  margin-top: 0px;
}

.textarea-field {
  min-height: 230px;
  border-radius: 3px;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
}

.textarea-field:focus {
  border: 1px solid #000;
}

.button {
  margin-top: 10px;
  padding-top: 11px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  background-color: #000;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 20px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#will_hs_cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0f0e17;
  padding: 80px 0 80px 0;
}

#will_hs_cont>div {
  display: inline;
  font-size: 4rem;
  color: white;
  margin: 0;
}

#willstext1 {
  margin-bottom: 0;
  font-size: 2.25rem;
  color: white;
  font-weight: 500;

}

#willstext2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  color: #636363;

}


#willstext3 {
  margin-top: 0;
  font-size: 1.75rem;
  color: white;
}

#willstext1,
#willstext2,
#willstext3 {
  margin: 0 5vw 0 5vw;


}


#will_HS {
  display: inline;
  width: 40%;
  border-radius: 100%;


}

#spacer_willhs_bottom {
  height: 10vh;


}

@media only screen and (max-width: 600px) {
  #will_hs_cont {
    flex-direction: column;
  }

  #will_hs_cont>h2 {
    display: inline;
    font-size: 2rem;
    text-align: center;
    color: white;

  }

  #willstext1 {
    font-size: 1.5rem;
    color: white;
  }

  #willhstext2 {
    font-size: 1.75rem;
    color: white;
  }


  #willstext3 {
    font-size: 1.2rem;
    color: white;
  }

  #will_HS {
    display: inline;
    width: 60%;


  }

  #spacer_willhs_bottom {
    height: 10vh;


  }


}


.full-width-image {
  width: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.project-list-2-per-line {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.project-block {
  width: 100%;
  -webkit-transition: opacity 200ms ease, color 200ms ease;
  transition: opacity 200ms ease, color 200ms ease;
  color: #000;
  text-decoration: none;
}

.project-block:hover {
  opacity: 0.8;
}

.text-center {
  text-align: center;
}

.text-center.padding-bottom {
  margin-bottom: 100px;
}

.testimonial-author {
  margin-top: 40px;
  margin-bottom: 40px;
}

.project-list-3-per-line {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.navigation-cta {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  font-weight: 600;
}

.navigation-cta:hover {
  color: rgba(0, 0, 0, 0.6);
}

#services-div>h3 {
  color: #fff;
}

#services-div>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

#services-div>div>p {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  margin: 10px auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.serv_items {
  font-size: 1rem;
  padding: 0;
  list-style-type: none;


}

.services-icons {
  width: 20%;
}


@media only screen and (max-width: 600px) {
  video {
    width: 300px;
    height: 264px;

  }




}

.project-list-1-per-line {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.blog-post-date {
  margin-bottom: 20px;
  color: #c7c7c7;
  font-size: 18px;
  font-weight: 400;
}

.blog-post-thumbnail {
  height: 20vw;
  min-height: 300px;
  margin-bottom: 30px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link-block {
  text-decoration: none;
}

.blog-featured-image {
  max-height: 500px;
  margin-top: 50px;
}

#skills,
#skills1 {
  background-color: #3375FE;

}


.menu-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-container {
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
}

.font-specimen {
  font-size: 100px;
  line-height: 100%;
}

.resource-link {
  text-decoration: none;
}

.image-resource-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.color-tile {
  height: 100px;
  border-radius: 6px;
}

.color-tile.color-primary {
  background-color: #0f0e17;
  color: #000;
}

.color-tile.color-secondary {
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
  background-color: #fff;
}

.color-tile.color-hover {
  background-color: #0f0e17;
}

.small-text {
  font-size: 16px;
}

.client-logo {
  max-height: 40px;
  max-width: 170px;
}

.form {
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.error-message {
  margin-top: 20px;
  padding: 14px 20px;
  border-radius: 10px;
  color: #f72929;
}

.success-message {
  height: 100%;
  background-color: transparent;
}

.section-header {
  margin-bottom: 50px;
  color: hsla(0, 0%, 76.7%, 0.6);
  font-weight: 500;
}

.img_proj {
  transition: all 1s ease;
  position: relative;


}

.img_proj:hover {
  cursor: pointer;
  opacity: 50%;


}

#demo_video_click_text {
  text-align: center;

}


#projects_section_mainpage {

  color: #000000;

}


.blog-post-thumbnail-featured {
  max-height: 500px;
}

.small-container {
  max-width: 660px;
  margin-right: auto;
  margin-left: auto;
}

.grid-footer {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  min-height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.image {
  border: 1px solid #000;
}

.image-2 {
  border: 1px solid #000;
}

@media screen and (max-width: 991px) {
  .body {
    font-size: 20px;
  }

  .main-container {
    padding-right: 40px;
    padding-left: 40px;
  }

  .brand.w--current {
    font-size: 20px;
  }

  .nav-link {
    display: block;
    padding-left: 40px;
  }

  .nav-link.w--current {
    padding-left: 40px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .big-text {
    font-size: 60px;
  }

  #willstext1 {
    font-size: 48px;

  }

  #willstext2 {
    font-size: 55px;
  }


  #willstext3 {
    font-size: 25px;
  }

  .grid-halves {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .client-grid {
    grid-column-gap: 130px;
    grid-row-gap: 130px;
  }

  .project-list-2-per-line {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .project-list-3-per-line {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .navigation-cta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 40px;
    float: none;
  }

  .menu-grid {
    padding-right: 40px;
    padding-left: 40px;
  }

  .nav-menu {
    height: 100vh;
    background-color: #fff;
  }

  .nav-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .menu-button {
    background-color: #fff;
  }

  .menu-button:focus {
    background-color: #fff;
  }

  .menu-button.w--open {
    background-color: #fff;
  }

  .icon {
    color: #000;
  }

  .client-logo {
    max-height: 34px;
    max-width: 150px;
  }

  .section-header {
    margin-bottom: 40px;
  }

  .grid-footer {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 0.75fr 1fr;
    grid-template-columns: 0.75fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .big-text {
    font-size: 48px;
  }

  #willstext1 {
    font-size: 26px;

  }

  #willstext2 {
    font-size: 35px;
  }


  #willstext3 {
    font-size: 18px;
  }

  .big-text.less-bottom-padding {
    margin-bottom: 10px;
  }

  .grid-halves {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-halves.center-vertical {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .client-grid {
    grid-row-gap: 100px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .project-list-2-per-line {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .project-list-3-per-line {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .menu-grid {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .error-message {
    margin-top: 20px;
  }

  .grid-footer {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .main-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-link {
    padding-left: 20px;
  }

  .nav-link.w--current {
    padding-left: 20px;
  }

  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .big-text {
    font-size: 36px;
  }

  #willstext1 {
    font-size: 22px;

  }

  #willstext2 {
    font-size: 30px;
  }


  #willstext3 {
    font-size: 14px;
  }

  .navigation-cta {
    padding-left: 20px;
  }

  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu-grid {
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav-menu {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}

#w-node-link-block-2-3ca05bd7 {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-_55a81060-6aca-191f-1d76-5dfe32b05d59-32b05d4a {
    -ms-grid-column-align: end;
    justify-self: end;
  }
}

#image-credits {
  width: 25%;
  float: right;
  margin: auto;
}

#image-credits>a {
  font-size: xx-small;

}