@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



html, body {
  width: 100%;
  height: 100%;

}



.topnav {
  background-color: #fffffe;
	display: block;
	width: 100%;
	position: fixed;
	text-align: center;
  font-family: tahoma;
  padding: 0 0 16px 0;

}

/* .topnav {
	background-color: #000008;
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	justify-content: center;
	text-align: center;
	font-family: tahoma;

} */


.topnav a {
  	color: #0f0e17;
  	text-align: center;
  	padding: 15px 16px 5px 16px;
  	text-decoration: none;
	font-size: 1.5vh;
	border-radius: 10px;
	

}

.topnav .active {
	color: #0f0e17;
	background: #EEAD32;


}

#spacer {
  width: 100%;
  height: 30px;

}


#content_box1 {
  


}

#title_text {
  font-family: 'Megrim', sans-serif;
  font-size: 3.5vw;
  text-align:center;
  display: block;
}


#title_text2 {
  text-align:center;
  display: block;
  
}

#img-div {
  margin: auto;
  display: block;
  top: 50px;
  width:80%;
  background-color: #d3d3d3;
  border-radius: 10px;
}


#flex_div {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}


#tribute-info {
  display: block;
  width:100vw;
  text-align: center;
}


#tribute-link {
  display: block;
  margin: auto;
  text-align: center;
  
}


.catpics {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}