* {
	margin: 0;

}



#logo {
	position: fixed;
	width: 15vw;
	height: auto;
	margin: 0;	
}


.page1Container {
	height: 108vh;
	margin: -1vw;
	justify-content: center;
	text-align: center;
	z-index: -100;
	background-image: url('IrF.gif'); 
	background-repeat: repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	border-radius: 10px;

}



.topnav {
	background-color: #000008;
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	justify-content: center;
	text-align: center;
	font-family: tahoma;

}


.topnav a {
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
	font-size: 1.5vh;
	

}

.topnav .active {
	color: #00cdeb;


}


#firsta {
	border-right: 1px solid white;
	

}

#seconda {
	border-right: 1px solid white;

}

#thirda {
	order: inherit;

}

#break1 {
	order: 2;
	flex-basis: 100%;

	
}


.PicandTextcontainer {
	display: flex;
	align-items:center;
	justify-content: space-evenly;
	order: 3;
}


#will_pic1 {
	order: 1;
	width: 30vw;
	height: auto;
	border-radius: .5vw;
}

#firstPgTxt {
	order: 2;
	color: white;
	font-size: 3vw;
	font-family: tahoma;
}

#page2container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100vh;
	margin: -1vw;
}

#one_to_two_trans {
	background-color: #000008;
	height: 8vh;
	width: 100vw;
	align-self: flex-start;

}


#projectpagehead {
	width: 100vw;
	height: 8vh;
	order: 1;
	text-align: center;
	font-family: tahoma;

}


#proj_container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	order: 22;
	width: 100vw;
}


.projectbox {
	width: 22vw;
	height: 40vh;
	background-color: slategrey;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-radius: 10px;
	order: 1;
	flex-shrink: 1;

}


#box1 {
	order: 23;
	text-align:center;
	opacity: 100%;
}


#box2 {
	order: 24;
	opacity: 50%;
}


#box3 {
	order: 25;
	opacity: 50%;
}


.proj_box_titles {
	width: auto;
	text-align: center;
	color: #00cdeb;
	order: 2;

}

.projcol {
	display: flex;
	flex-direction: column;

}

.projimgs {
	border-radius: 10px;
	height: 10vh;
	width: 100%;
	opacity: 50%;
	cursor: pointer;


}


@media only screen and (max-width: 768px) {
	
	.topnav {
		


	}
	
	#bgimage {
		flex-wrap: wrap;
		display: flex;		


	}



	
	.PicandTextcontainer {
		flex-wrap: wrap;
		display: flex;
	
	}

	#will_pic1 {
		width: 60vw;
		height: auto;

	}

	#firstPgTxt {
		width: 80vw;
		height: auto;
		text-align: center;
		font-size: 7vw;
		font-family: tahoma;
	}

	#page2container {
		height: 250vh;

	}
	
	#proj_container {
		display: flex;
		flex-wrap: wrap;

	}

	.projectbox {
		width: 51vw;
		height: 40vh;

	}


}
