
#logo {
	position: fixed;
	width: 8vw;
	height: auto;
	margin: 1.5vw;	
}


.page1Container {
	background-color: #020403;
	display: flex;
	flex-direction: row;
	height: 100vh;
	align-items:center;
	justify-content: space-evenly;
	margin: -1vw;
}


#will_pic1 {
	order: 1;
	width: 30vw;
	height: auto;
	border-radius: .5vw;
}

#firstPgTxt {
	order: 2;
	color: white;
	font-size: 3vw;
	font-family: tahoma;
}

#page2container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100vh;
	margin: -1vw;
}

#projectpagehead {
	width: 100vw;
	height: 15vh;
	order: 1;
	background-color: salmon;
	text-align: center;
	font-family: tahoma;

}

.break {
	flex-basis: 100%;
	height: 0;
	order: 2;
  }

#proj_container {
	display: flex;
	justify-content: space-evenly;
	order: 22;
	background-color: seagreen;
	opacity: 50%;
	width: 100vw;
}


.projectbox {
	width: 22vw;
	height: 40vh;
}


#box1 {
	background-color: green;
	order: 23;

}


#box2 {
	background-color: yellow;
	order: 24;

}


#box3 {
	background-color: red;
	order: 25;

}

